{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Food Donation Project{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
      <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style> -->
    <!--<link href="{% static 'css/styles.css' %}" rel="stylesheet">-->
</head>
<body>

    <header>
        <nav class="bg-white border-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
                <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'icons/icon.jpeg' %}" class="h-12 w-12" alt="StudentHarvest Icon" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-blue-600">StudentHarvest</span>
                </a>
    

                <div class="flex items-center justify-center flex-grow md:flex-grow-0">
                    {% if user.is_authenticated and user.is_donor %}
                        <a href="{% url 'create_listing' %}" class="bg-lime-600 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded-full">
                            Publish a Listing
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="bg-lime-600 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded-full">
                            Publish a Listing
                        </a>
                    {% endif %}
                </div>
                
                
    
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
                    <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        {% if user.is_authenticated and user.role == 'student' %}
                        <li>
                            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Favorites</a>
                        </li>
                        {% endif %}
    
                        {% if user.is_authenticated %}
                            {% if user.role == 'student' or user.role == 'donor' %}
                                <li>
                                    <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Messages</a>
                                </li>
                            {% endif %}
                        {% endif %}
    
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}" class="text-blue-600 hover:text-blue-500">{{ user.username }}</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" style="border: none; background: none; cursor: pointer; padding: 0; font: inherit; color: inherit;">Logout</button>
                            </form>
                        </li>
                        {% else %}
                        <li><a href="{% url 'login' %}" class="text-blue-600 hover:text-blue-500">Login</a></li>
                        <li><a href="{% url 'register' %}" class="text-blue-600 hover:text-blue-500">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>    

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
            
    </footer>
</body>
</html>