{% extends 'base.html' %}

{% block content %}
  <h2>Available Listings</h2>
  <ul>

    {% if query %}
    <p>Search results for "{{ query }}":</p>
    {% endif %}

    {% for listing in page_obj %}
      <li>
        <a href="{% url 'listing_detail' listing.pk %}">{{ listing.title }}</a> by {{ listing.donor.username }} ({{ listing.created_at }})
        {% if listing.image %}
          <img src="{{ listing.image.url }}" alt="{{ listing.title }}" style="max-width: 100px;">
        {% endif %}
        <p><strong>Categories:</strong> 
          {% for category in listing.categories_list %}
            {{ category }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      </li>
    {% empty %}
      <li>No listings available.</li>
    {% endfor %}
  </ul>

  <!-- Pagination controls -->
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}
